body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://images.pexels.com/photos/5945757/pexels-photo-5945757.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-repeat: no-repeat;
    width: 100vw;
    background-size: cover;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    width: 92vw;
    margin: 2vw;
    padding: 10px 2vw;
    border-radius: 15px;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
  }
  
  .website-name {
    color: white;
    font-size: 20px;
  }
  
  .nav-links {
    list-style-type: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
  }
  .nav-links a:hover, .nav-links a .active{
    color: #4CAF50 !important;
  }
  
  .signup-btn {
    padding: 8px 16px;
    background-color: white;
    color: black;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s ease;
  }
  .signup-btn:hover{
    background-color: #4CAF50;
    color: white;
  }
  
  .tagline-container {
    background-color: rgba(0, 0, 0, 0.5);
    width: 40vw;
    margin: 25vw;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 15px;
    text-align: center;
    margin-top: 100px;
  }
  
  .tagline {
    color: white;
    font-size: 32px;
  }
  
  .shop-btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
    transition: background-color 0.3s ease;
  }
  
  .shop-btn:hover {
    background-color: #000;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  .cart-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .cart-item h3 {
    margin-top: 0;
  }
  
  .cart-item p {
    margin-bottom: 0;
  }
  
  